html{
    background-color: bisque;
    padding: 10px;
    border: 20px;
}

h2,p{
    color:blueviolet;
    font-size: large;
    font-family:'Courier New', Courier, monospace ;
    width:fit-content;
    display:block;
}
ol{
    color: green;
    font-size:large;
}
a{
    font-size: small;
}
li{
    line-height: 2;
    letter-spacing: 1px;
}
